
.about {
  max-width: 75%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.about h2 {
  margin-top: 2rem;
  margin-bottom: 0rem;
  font-size: 2.5rem;
}

.about p {
  font-size: 1.5rem;
  max-width: 55%;
}

a {
  font-size: 1.75rem;
  max-width: 55%;
  color: #007bff;
  text-decoration: none;
  padding: 2rem 0;
}
a:visited {
  color: #007bff;
}