
.matrix-container {
  margin-left: 1rem;
  width: 95%;
  overflow: hidden;
}

.chill-matrix {
  border-collapse: collapse;
  table-layout: auto;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.chill-matrix thead,
.chill-matrix tbody,
.chill-matrix tr {
  margin: 0;
  padding: 0;
}

@media (max-width: 1439px) {
  .matrix-container {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

thead th, tbody th, tbody td {
  text-align: center;
  min-width: 3rem;
  padding: 0.4rem 0.3rem;
  vertical-align: middle;
  z-index: 1;
  box-sizing: border-box;
}

tbody tr .bodyheader {
  min-width: 3.5rem;
}

tbody td:hover {
  z-index: 2;
  outline: 6px double firebrick;
}

tbody td.none {
  background-color: #99ee99;
}

tbody td.mild {
  background-color: #2288bb;
}

tbody td.moderate {
  color: white;
  background-color: #0055cc;
}

tbody td.severe {
  color: white;
  background-color: #000099;
}

tbody td.dangerous {
  color: white;
  background-color: #000055;
}

tbody td.extreme {
  color: white;
  background-color: #000022;
}
