
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  top: -5rem;
  left: 6rem;
  visibility: hidden;
  width: 18rem;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  border: 2px solid purple;
  padding: 0.25rem;
  position: absolute;
  z-index: 4;
}
.tooltip .tooltiptext td {
  text-align: left;
  vertical-align: middle;
  font-size:x-large;
  outline: none;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext tr.none {
  color: lightgreen;
}

.tooltip .tooltiptext tr.mild {
  color: yellowgreen;
}

.tooltip .tooltiptext tr.moderate {
  color: yellow;
}

.tooltip .tooltiptext tr.severe {
  color: orange;
}

.tooltip .tooltiptext tr.dangerous {
  color: orangered;
}

.tooltip .tooltiptext tr.extreme {
  color: red;
}

.tooltip .tooltiptext tr.calm {
  color: yellowgreen;
}

.tooltip .tooltiptext tr.breeze {
  color: yellow;
}

.tooltip .tooltiptext tr.windy {
  color: orange;
}

.tooltip .tooltiptext tr.storm {
  color: red;
}

.tooltip .tooltiptext tr.diff {
  color: lightskyblue;
}