name: Publish-GH-page
on:
  push:
    branches:
      - main
jobs:
  deployment:
    permissions:
      contents: read      # to read the repository contents
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6
      - name: Use Node v22
        uses: actions/setup-node@v6
        with:
          node-version: '22'
      - name: Install dependencies
        run: npm install
      - name: Build the project
        run: npm run build
      - name: Push to gh-pages branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.DEPLOY }}
          publish_dir: ./dist
          publish_branch: gh-pages